################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Task1.1/.vs/Task1.1.slnx
.vs/
*.suo
*.user
*.slnx
